.st-emotion-cache-10trblm {
    background: linear-gradient(45deg, #6188ff 10%, #ff0010 60%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

header {visibility: hidden;}

h3 {
    font-size: 21px;
    padding: 0.3rem 0px 0.3rem;
}

h5 {
    padding: 0rem 0px 0.3rem;
}

[data-testid="column"] {
    width: calc(33.3333% - 1rem) !important;
    flex: 1 1 calc(33.3333% - 1rem) !important;
    min-width: calc(33% - 1rem) !important;
}

.st-emotion-cache-gh2jqd {
  width: 100%;
  padding: 6rem 0rem 5rem;
}


.st-emotion-cache-1umgz6k {
    border-radius: 0.4rem;
}

@media (max-width: 50.5rem) {
  .st-emotion-cache-gh2jqd {
    max-width: calc(-2.5rem + 100vw);
  }
}

button {transition: box-shadow .15s,transform .15s;}
button:hover {
    transform: translateY(-2px);
    background: #eaeaea;
}


.st-emotion-cache-eczf16 {
    display: none;
}

button {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.st-emotion-cache-1h9usn1 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


a {
    color: rgb(49, 51, 63) !important;
    min-height: 38.4px;
    padding: 0.25rem 0.75rem;
    background-color: white;
    transition: box-shadow .15s,transform .15s;
    border: 1px solid rgba(49, 51, 63, 0.2); 
    border-radius: 0.5rem;
}

a:hover {
    transform: translateY(-2px);
    background: #eaeaea;
    border-color: rgb(75, 157, 255);
    color: rgb(75, 157, 255) !important;
}

@media (max-width: 50.5rem) {
    .st-emotion-cache-13ln4jf {
      max-width: unset;
      /*max-width: calc(-4.5rem + 100vw);*/
    }
  }